html {
	height: 100%;
	font-size: 1.2rem;

	body {
		height: 100%;
		margin: 0;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
        	font-weight: normal;
        	margin: 0;
        }

        a {
        	text-decoration: none;
        	color: #000;
        }

        img {
        	width: 100%;
        }

        .app {
            position: relative;
            height: 100%;
            background-color: #f5f7f8;

            .list {
            	overflow-y: auto;
            	background-color: #fff;
            }
        }
	}
}









